/* Less CSS Document */
/* Will be auto compiled to CSS file on save */


@import "normalize.css";

// Colors

@cso-blue: rgb(43,133,196);
@cso-orange: rgb(247,147,30);
@cso-dkblue: rgb(33,89,147);
@cso-ltblue: rgb(245,245,245);
@black: rgb(51,51,51);
@white: rgb(255,255,255);
@grey: rgb(153,153,153);

// Fonts

.roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.condensed {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}

// Body

body {
	.roboto;
	color: @black;
}

h1, h2, h3, h4, h5, h6 {
	.condensed;
}

.main {
	h2 {
		font-size:3em;
		color:@cso-orange;
	}
	h3 {
		font-size:2em;
		color:@cso-orange;
	}
}
	
a {
	color: @cso-blue;
	text-decoration:none;
	
	&:hover, &:active, &:focus {
		color: darken(@cso-blue, 20%);
	}
}

.grey-link {
	color: @grey;
	
	a {
		color: @grey;
		
		&:hover, &:active, &:focus {
			color: darken(@grey, 20%);
		}
	}
}

.white-link {
	color:@white;
	
	a{
		color: @white;
		
		&:hover, &:active, &:focus {
			color: @white;
			text-decoration:underline;
		}
	}
}
		

.small {
	font-size:.8em;
}

@tiny-margin: 10px;
@small-margin: 20px;
@medium-margin: 30px;


// Buttons

.btn-ease {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.button-orange, .button-blue {
	border-radius: .2em;
	padding:0.04em 0.313em 0.08em 0.313em;
	border:none;
	.btn-ease;
}

.button-orange {
	background-color: @cso-orange;
	color:@white;
	
	&:hover, &:active, &:focus {
		//background-color: fade(@cso-orange, 50%);
		text-shadow: 0.063em 0.063em 0.063em darken(@cso-orange, 30%);
	}
	
	a {
		color:@white;
		&:hover, &:active, &:focus {
			color:@white;
		}
	}
}

.button-blue {
	background-color: @cso-blue;
	color:@white;
	
	&:hover, &:active, &:focus {
		background-color: darken(@cso-blue, 10%);
	}
	
	a {
		color:@white;
		&:hover, &:active, &:focus {
			color:@white;
		}
	}
}

input[type="submit"] {
	.button-blue;
	.roboto;
	padding-bottom: 2.2px;
	
}

	
// Logo

.cso-circle {
	fill: @cso-blue;
}

.cso path {
	fill: @white;
}

.research path {
	fill: lighten(@cso-blue, 25%);
}


// Header

#header {
	width:100%;
	height:10em;
	position:relative;
	font-size:1em;
	
	@media screen and (max-width:61.5em) {
		font-size:.8em;
	}

	.logo {
		margin:1.25em;
		float:left;
		
		svg {
			width:7em;
			height:7em;
			
		}
	}
	
	nav {
		font-size: 1.3em;
		float:left;
		.btn-ease;
		margin-top: calc(~"6em / 2");
		
		@media screen and (max-width:50em) {
			display:none;
		}
		
		ul {
			list-style:none;
			display:inherit;
			padding:0;
			margin:0;
			.btn-ease;
			
			ul {
				visibility:hidden;
				opacity:0;
				position:absolute;
				padding:0.3em 0px;
				background-color:@white;
				font-size:.8em;
				border-bottom: .125em solid @cso-blue;
				top: 1.875em;
				left: 0.3em;

			}
		}
		li {
			display:inline-block;
			padding: 0 .5em;
			position:relative;
			.btn-ease;
			
			&:hover > ul {
				visibility:visible;
				opacity:1;
				.btn-ease;
			}
			
			li {
				display:block;
				white-space:nowrap;
				padding:.3em .5em;
				
				
				&:hover {
					background-color:@cso-ltblue;
				
				}
			}
			
			
			//demo button
			
			&.demo {
				.button-orange;
				
			}
			&:nth-last-child(2) {
				padding-right:0.813em;
			}
			
		}
		
	}
	
	.contact {
		color: @grey;
		position: absolute;
		right: 1.25em;
		.grey-link;
		
		p {
			display:inline-block;
			padding-right:.3em;
		}
		
		[class^="icon-"] {
			height: 1.6em;
			width: 1.6em;
			display: inline-block;
			fill: @cso-blue;
			margin-bottom: -0.4em;
			.btn-ease;
			
			&:hover {
				fill: darken(@cso-blue, 10%);
			}
		}
		
		@media screen and (max-width:31em){
		
			display:none;
			
		}
	}
	
	.search, .search-icon, .nav-icon {
		float: right;
		margin-right: 1.25em;
		
	}
	
	.search {
		margin-top: calc(~"8.2em / 2");
		
		@media screen and (max-width:74em) {
			display:none;
			position: absolute;
			right: 0;
			top: 2em;
			background-color:@cso-ltblue;
			padding:.5em;
		}
		
		@media screen and (max-width:50em) {
			font-size:2em;
			width:100%;
			top:0;
			margin-right:0;
			text-align:right;
			box-shadow: 0 .2em .1em darken(@cso-ltblue, 10%);
			
			input#s {
				width:calc(~"100% - 5em");
			}

		}
	}
	
	.search-icon, .nav-icon {
		display:none;
		margin-top: calc(~"7.6em / 2");
		padding:.125em .3em .3em .3em;
		
		@media screen and (max-width:31em){
			margin-top: calc(~"4.9em / 2");
		}
		
	}
		
	.search-icon {
		@media screen and (max-width:74em) {
			display:block;
		}
		@media screen and (max-width:50em) {
			margin-right:0;
		}		
		
	}
	
	.nav-icon {
		@media screen and (max-width:50em) {
			display:block;
		}
		
		@media screen and (max-width:31em) {
			margin-right:0;
		}
		
	}
		
	.icon-search, .icon-list {
		height:1.875em;
		width:1.875em;
		fill: @grey;
		
		@media screen and (max-width:50em) {
			height:4em;
			width:4em;
			fill: @cso-blue;
		}
		
		@media screen and (max-width:31em){
			height:5em;
			width:5em;
		}
	}
	
	.active {
		background-color:@cso-ltblue;
	}
	
	nav.mobile {
		position: absolute;
		text-align: right;
		right: .6em;
		font-size: 2em;
		top: 1em;
		background-color:@cso-ltblue;
		padding: .5em;
		line-height: 1.8em;
		box-shadow: 0 .2em .1em darken(@cso-ltblue, 10%);
		
		@media screen and (max-width:31em) {
			right:0;
		}
		
	
		li {
			display:block;
			
			&:nth-last-child(2) {
				padding-bottom:0.6em;
			}
			
			&:hover > ul {
				visibility:hidden;
				opacity:0;
			}			
		}		
	}		
}

// Content

#content {
	width:100%;
	
	#title-bar {
		background-color:@cso-ltblue;
		width:100%;
		height: 13.75em;
		
		@media screen and (max-width:61.5em) {
			font-size:.8em;
		}
		
		@media screen and (max-width:50em) {
			font-size:.6em;
		}
		
		@media screen and (max-width:31em) {
			font-size:.4em;
		}
		
		h1, h2 {
			float:right;
			margin-right:@medium-margin;
			color:@cso-blue;
			
			@media screen and (max-width:50em) {
				margin-right:10px;
			}
		}
		
		h1 {
			font-size:5em;
			margin-top:0.15em;
			margin-bottom:.05em;
		}
		
		h2 {
			clear:right;
			font-size:3em;
			margin-top:.05em;
		}
		
	}
	
	.breadcrumbs {
		margin-left:@medium-margin;
		font-size:.8em;
		color: @grey;
		.grey-link;
		margin-bottom:1.5em;
		
		@media screen and (max-width:50em) {
			margin-left:10px;
		}
		
		@media screen and (max-width:31em) {
			display:none;
		}
		
	}
	
	.sidebar-icon {
		display:none;
		margin-left:@tiny-margin;
		padding-top:.5em;
		width:100%;
		.grey-link;
		font-size:.8em;
		margin-bottom:1.5em;
		
		
		p {
			display:inline;	
			
			
		}
		
		@media screen and (max-width:31em){
			display:block;

		}
		
		[class^="icon-"], [class*=" icon-"] {
			height:1.5em;
			width:1.5em;
			fill: darken(@cso-ltblue, 10%);
			margin-bottom: -0.4em;
		
		}
		
		a:hover [class^="icon-"], a:hover [class*=" icon-"] {
				fill: darken(@grey, 20%);
		}
		
		&.bottom {
			border-bottom: 0.2em dotted #F5F5F5;
			padding-bottom:.5em;
		}
		
	}
	
	.main {
		width: calc(~"100% - 18.3em");
		margin: 0 @medium-margin 0 0;
		float:right;
		vertical-align:top;
		
		@media screen and (max-width:50em) {
			font-size:.8em;
			width: calc(~"100% - 17.9em");
			margin-right:@small-margin;
		}
		
		@media screen and (max-width:31em) {
			float:none;
			font-size:.8em;
			width: calc(~"100% - 21px");
			margin:0 @tiny-margin;
		}
		
		h2 {
			@media screen and (max-width:50em) {
				font-size:2.5em;
			}
		}
		
		h2:first-child {
			margin-top: -.35em;
		}
	}
	
	#sidebar {
		width:10em;
		margin: -.3em 1.875em 0 @medium-margin;
		vertical-align:top;
		color:@cso-blue;
		font-size:1.2em;
		float:left;
		
		.menus {
			border-bottom: dotted .2em @cso-ltblue;
			margin-bottom:.7em;
		}
		
		@media screen and (max-width:50em) {
			font-size:1em;
			margin-left:@small-margin;
			margin-right:1.5em;
		}
		
		@media screen and (max-width:31em) {
			float:none;
			margin-left: @small-margin;
			margin-right: @small-margin;
			width:calc(~"100% - " (2 * @small-margin));
			
			.menus, .widgets {
				display:inline-block;
				width:48%;
				vertical-align:top;
				border-bottom:none;
			}
			
			.widgets {
				margin-left:1%;
			}
			
		}
		
		@media screen and (max-width:21em) {
			.menus, .widgets {
				display:block;
				width:100%;
				margin-left:0;
			}
			
			.menus {
				border-bottom: dotted .2em @cso-ltblue;
			}
		}
		
		nav {
			ul {
				list-style:none;
				padding-left:1em;
			}
			
			ul:first-child {
				padding-left:0;
				
			}
			
			ul li ul {
				margin-top:.3em;
				font-size:.8em;
			}
			
			&:first-child ul {
				margin-top: 0;
			}
		
		}		
		
	}
		
}

// Client Services

.page-template-page-services-php {
	
	#title {
		width:25em;
		float:left;
		margin-top: -0.6em;
		
		h2 {
			display:inline;
			color:@cso-blue;
		}
		
		[class^="icon-square-"], [class*=" icon-square-"] {
			width:7em;
			height:7em;
			fill:@cso-blue;
			float:left;	
			padding-right:1em;
			padding-top:.6em;
		}
	}
	
	.info {
		float:right;
		width:calc(~"100% - 65em");
		max-width:25em;
		height:7em;
		border:solid .2em @cso-ltblue;
		border-radius:1em;
	}
	
	.main {
		
		h3 {
			color:@cso-blue;
		}
		
		h3:first-of-type {
			clear:both;
			margin-top:5em;
		}
		
		[class^="icon-square-"], [class*=" icon-square-"] {
			width:1em;
			height:1em;
			fill:@cso-blue;
			float:left;
			padding-top: .2em;
			padding-right: .2em;
		}
		
	}
	
	
	
	#quick-support {
		position:fixed;
		right:0;
		top:22em;
		background-color:fade(@cso-orange, 75%);
		padding:.5em;
		border-radius: .2em 0 0 .2em;
		.white-link;
		.condensed;
		font-size:1.2em;
		
		[class^="icon-"], [class*=" icon-"] {
			height: 1.8em;
			width: 1.8em;
			fill:@white;
			display: block;
			margin: 0 auto;
			
		}
		
		ul {
			list-style:none;
			padding:0;
			margin:0;
			text-align:center;
			
			li {
				margin-bottom:.4em;
				
				&:hover [class^="icon-"], &:hover [class*=" icon-"] {
					fill:fade(@white, 70%);
				}
			}
		}
		
		@media screen and (max-width:61.5em) {
			font-size:1em;			
		}
		
		@media screen and (max-width:50em) {
			top:18em;			
		}
		
		@media screen and (max-width:31em) {
			top:auto;
			bottom:0;
			width:100%;
			font-size:1.2em;
			padding:.3em 0;
			border-radius:0;
			background-color:fade(@cso-orange, 90%);
			
			[class^="icon-"], [class*=" icon-"] {
				display:none;
			}
			
			ul {
				width:100%;
				
				li {
					display:inline-block;
					width:18%;
				}
			}			
		}
	}
		
	#sidebar {
		
		input#s {
			width:5.7em;
		}
		

		[class^="icon-square-"], [class*=" icon-square-"] {
			height: 1.2em;
			width: 1.2em;
			fill:@cso-blue;
			padding-right:.3em;
			vertical-align: middle;
			padding-bottom: .15em;
		}
			
		ul ul li {
				
			[class^="icon-"], [class*=" icon-"] {
				height: 1em;
				width: 1em;
				fill:@cso-blue;
				padding-right:.3em;
				vertical-align: middle;
			}
		}
		
		[class^="toggle-sub-"], [class*=" toggle-sub-"] {
			display:none;
		}
		
		[class^="toggle-main-"], [class*=" toggle-main-"] {
			
			cursor:pointer;
			
			.icon-caret-right {
				height:1.2em;
				width:1.2em;
				fill: darken(@cso-ltblue, 10%);
				float:right;
				padding-top: .1em;
				.btn-ease;
			}	
			
			&.active {
				
				.icon-caret-right {
					transform:rotate(90deg);
				}				
			}			
		}		
	}
}



// Footer

#footer {
	width:100%;
	clear:both;
	padding-top: 1.5em;

	.mid-bar {
		width:inherit;
		background-color:@cso-ltblue;
		
		nav {
			width:61.5em;
			margin-left:auto;
			margin-right:auto;
			padding: .625em .5em 6.8em;
			.grey-link;
			
			@media screen and (max-width:61.5em) {
				width:100%;
			}
				
			@media screen and (max-width:50em) {
				font-size:.8em;
			}
			
			@media screen and (max-width:40em) {
				padding-bottom:.9em;
			}	
			
			@media screen and (max-width:31em) {
				padding-left:0;
			}
			
			ul, li {
				display:inline-block;
				padding:0;
				margin:0;
				width:100%;
				
			}
			
			ul {
				@media screen and (max-width:31em) {
					text-align:center;
				}
			}
			
			li {
				width: calc(~"50.4em / 5");
				position:relative;
				.condensed;
				font-size:1.2em;
				
				@media screen and (max-width:61.5em) {
					width:calc(~"("~"100% - 1em"~")"~" / 5");
				}	
				
				@media screen and (max-width:40em) {
					text-align:center;
				}	
				
				@media screen and (max-width:31em) {
					width:auto;
					padding:0 .5em;	
				}
					
				
				ul {
					position:absolute;
					margin-top: 1.875em;
					left: 0;
					
					@media screen and (max-width:40em) {
						display:none;
					}
				}
				
				ul li {
					display:block;
					width:auto;
					.roboto;
					font-size: 0.6em;
				}
			}
			
		}		
		
	}
	
		
	.bot-bar {
		width:inherit;
		height:6.25em;
		background-color:@white;
		font-size:0.8em;
		.grey-link;
		
		.left {
			float:left;
			margin-left:@small-margin;
		}
		
		.right {
			float:right;
			margin-right:@small-margin;
			font-size:1.2em;
			
			p {
				float:right;
				
				@media screen and (max-width:31em) {
					float:none;
				}
			}
			
		}
		
		.left, .right {
			
			@media screen and (max-width:31em) {
				float:none;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
			}
		}
		
		[class^="icon-"] {
			height: 1.6em;
			width: 1.6em;
			display: inline-block;
			fill: @cso-blue;
			margin-bottom: -0.4em;
			.btn-ease;
			
			&:hover {
				fill: darken(@cso-blue, 10%);
			}
		}
		
		.search {
			float: right;
			clear: right;
			
			input#s {
				width:8em;
			}
		
			@media screen and (max-width:31em) {
				display:none;
			
			}
		
		
		}
	}
}